{% extends '::base.html.twig' %}
{% block body -%}
<div id="marketer-page">
  <h1>Cargar Registros</h1>
  <form>
    <fieldset>
    <legend>Legend</legend>
      <label>Arcvhio CSV</label>
      <input type="file" placeholder="Type something…"  id="file" name="file">        
      <label class="checkbox"></label>
      <ul class="breadcrumb">
        <li><a href="javascript:void(0)" class="btn" id="marketer-btn-upload">Subir</a></li>
        </ul>
    </fieldset>
  </form>
</div>
{% endblock %}